*{margin: 0; padding: 0;}

html{ height: 100%; min-height: 100%; }

body {
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100%;
    font-family: "Oxygen", sans-serif;
    color: white;
    font-weight: normal;
    background-image: url("./img/header-bg-right-heart.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 650px;
}

footer{
    margin-top: auto;
}

a{
    text-decoration: none;
    color: #FFFFFF; 
    justify-content: flex-start;
}

.container{
    display: flex;
    max-width: 350px;
    margin: 0 auto;
    flex-direction: column;
    /* border: teal solid 5px; */
}

.container-header{
    display: flex;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 50px;
}

.item{
    display: flex;
    flex: 1;
    justify-content: space-around;
    align-items: center;
    margin: 5px;
    background: #8743CC;
    text-align: center;
    font-size: 24px;
    text-decoration: none;   
    border-radius: 5px;
    border: 2px transparent solid;
    padding: 8px;
}

.titulo-footer{color: #889BB0;}
.titulo-menu{
    flex-grow: 1;
    align-items: center;
}

.icon-menu{
    padding-left: 20px;
}

.container-footer{ 
    font-size: 14px;
    line-height: 20px;
    color: #889BB0;
    margin-top: 20px;
    padding-top: 15px; 
    padding-bottom: 10px; 
    min-height: 100%;
    font-size: 1rem;
    background: rgb(55,35,129);
    background: radial-gradient(circle, rgba(55,35,129,1) 0%, rgba(170,105,236,1) 100%);
}

.item:hover{ 
    color: #FFFFFF; 
    background:  #a574d6; 
    cursor: pointer;
}

/* iPhone 5/SE */
@media (max-width: 325px){
    body {
        display: flex;
        text-align: center;
        flex-direction: column;
        min-height: 100%;
        font-family: "Oxygen", sans-serif;
        color: white;
        font-weight: normal;
        background-image: url("./img/header-bg-right-heart.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 275px;
    }
    .container{
        max-width: 250px;
        margin: 0 auto;
        flex-direction: column;
    }
    .container-header{
        padding-left: 0px;  
        margin-bottom: 30px;   
        display: flex;
    }
    .item{
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        background: #8743CC;
        text-align: center;
        font-size: 20px;
        text-decoration: none;   
        border-radius: 5px;
        border: 4px transparent solid;
        padding: 8px;
    }
    /* logo header */
    html body div div.container-header a img{
        padding-top: 10px;
        width: 180px;
    }
    /* icons menu */
    html body div section#todos-links.container.menu.row div.link-item.flex-item a img{
        justify-content: space-between;
        width: 40px;
    }
}

/* iPhone X */
@media (min-width: 370px){
    body {
        display: flex;
        text-align: center;
        flex-direction: column;
        min-height: 100%;
        font-family: "Oxygen", sans-serif;
        color: white;
        font-weight: normal;
        background-image: url("./img/header-bg-right-heart.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 350px;
    }
    .container{
        max-width: 300px;
        margin: 0 auto;
        flex-direction: column;
    }
    .container-header{
        padding-left: 0px;  
        margin-bottom: 45px;   
        display: flex;
    }
    .item{
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        background: #8743CC;
        text-align: center;
        font-size: 24px;
        text-decoration: none;   
        border-radius: 5px;
        border: 4px transparent solid;
        padding: 8px;
    }
    /* logo header */
    html body div div.container-header a img{
        padding-top: 10px;
        width: 200px;
    }
    /* icons menu */
    html body div section#todos-links.container.menu.row div.link-item.flex-item a img{
        justify-content: space-between;
        width: 40px;
    }
}

/* iPhone 6/7/8 Plus */
@media (min-width: 410px){
    body {
        display: flex;
        text-align: center;
        flex-direction: column;
        min-height: 100%;
        font-family: "Oxygen", sans-serif;
        color: white;
        font-weight: normal;
        background-image: url("./img/header-bg-right-heart.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 350px;
    }
    .container{
        max-width: 300px;
        margin: 0 auto;
        flex-direction: column;
    }
    .container-header{
        padding-left: 0px;  
        margin-bottom: 40px;   
        display: flex;
    }
    .item{
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        background: #8743CC;
        text-align: center;
        font-size: 24px;
        text-decoration: none;   
        border-radius: 5px;
        border: 4px transparent solid;
        padding: 8px;
    }
    /* logo header */
    html body div div.container-header a img{
        padding-top: 10px;
        width: 250px;
    }
    /* icons menu */
    html body div section#todos-links.container.menu.row div.link-item.flex-item a img{
        justify-content: space-between;
        width: 40px;
    }
}

/* iPad */
@media (min-width: 760px){
    body {
        display: flex;
        text-align: center;
        flex-direction: column;
        min-height: 100%;
        font-family: "Oxygen", sans-serif;
        color: white;
        font-weight: normal;
        background-image: url("./img/header-bg-right-heart.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 600px;
    }
    .container{
        max-width: 450px;
        margin: 0 auto;
        flex-direction: column;
    }
    .container-header{
        padding-left: 0px;  
        margin-bottom: 45px;   
        display: flex;
    }
    .item{
        display: flex;
        flex: 1;
        justify-content: space-around;
        align-items: center;
        margin: 5px;
        background: #8743CC;
        text-align: center;
        font-size: 24px;
        text-decoration: none;   
        border-radius: 5px;
        border: 4px transparent solid;
        padding: 8px;
    }
    /* logo header */
    html body div div.container-header a img{
        padding-top: 10px;
        width: 400px;
    }
    /* icons menu */
    html body div section#todos-links.container.menu.row div.link-item.flex-item a img{
        justify-content: space-between;
        width: 40px;
    }
}