*{margin: 0; padding: 0;}

html{
    height: 100%;
    min-height: 100%;
}

body {
    display: flex;
    text-align: center;
    flex-direction: column;
    min-height: 100%;
    font-family: "Oxygen", sans-serif;
    color: white;
    font-weight: normal;
    background-image: url("./img/header-bg-right-heart.svg");
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 600px;
}

footer{
    margin-top: auto;
}

a{
    text-decoration: none;
    color: #FFFFFF; 
    justify-content: flex-start;
}

.column{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* flex-direction: column-reverse; quando quiser inverter o menu */
    /* justify-content: center; */
}

.container{
    display: flex;
    max-width: 350px;
    margin: 0 auto;
    /* border: teal solid 5px; */
}

.container-header{
    display: flex;
    margin-bottom: 15px;
    padding-top: 5px;
    padding-left: 50px;
}

.item{
    flex: 1;
    /* justify-content: space-between; */
    margin: 5px;
    background: #8743CC;
    text-align: center;
    font-size: 24px;
    text-decoration: none;   
    border-radius: 5px;
    border: 2px transparent solid;
    padding: 8px;
}

.icon-menu{
    justify-content: flex-start;
}

.titulo-footer{color: #889BB0;}

.container-footer{ 
    justify-content: space-around;
    font-size: 14px;
    line-height: 20px;
    color: #889BB0;
    padding-top: 10px; 
    padding-bottom: 10px; 
    min-height: 100%;
    /* margin: 40px auto auto auto; */
    /* text-align: center; */
    font-size: 1rem;
    background: rgb(55,35,129);
    background: radial-gradient(circle, rgba(55,35,129,1) 0%, rgba(170,105,236,1) 100%); /* background: linear-gradient(90deg, rgba(163,141,210,1) 21%, rgba(129,118,170,1) 35%, rgba(49,31,117,1) 100%); */
}

/* .logo-footer{
    justify-content: flex-start;
}*/
.copyright-footer{
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    margin-left: 15px;
} 

.item:hover{ 
    color: #FFFFFF; 
    background:  #a574d6; 
    cursor: pointer;
}

@media (max-width: 420px){
    body {
        display: flex;
        text-align: center;
        flex-direction: column;
        min-height: 100%;
        font-family: "Oxygen", sans-serif;
        color: white;
        font-weight: normal;
        background-image: url("./img/header-bg-right-heart.svg");
        background-repeat: no-repeat;
        background-position: right top;
        background-size: 350px;
    }
    .container{
        max-width: 300px;
        margin: 0 auto;
    }
    .container-header{
        padding-left: 0px;  
        margin-bottom: 30px;    
    }
    .item{
        margin: 5px;
        background: #8743CC;
        text-align: center;
        font-size: 1.5em;
        text-decoration: none;   
        border-radius: 5px;
        border: 4px transparent solid;
        padding: 8px;
    }
    /* logo header */
    html body div div.container-header a img{
        padding-top: 10px;
        width: 250px;
    }
    /* icons menu */
    html body div section#todos-links.container.menu.row div.link-item.flex-item a img{
        justify-content: space-between;
        width: 40px;
    }
}